<div class="container">
  <div class="row justify-content-center">
    <div class="text-center mt-5">
      <strong>本当に退会しますか？</strong>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="text-center mt-3">
      退会すると、会員登録情報や</br>
      ブックマークが閲覧できなくなります。</br>
      退会する場合は、「退会する」をクリックしてください。
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="actions mt-5">
      <%= link_to "退会しない", user_path(current_user), class: "btn btn-sm btn-primary"%>
      <%= link_to "退会する", users_withdrawal_path, method: :patch, "data-confirm"=>"本当によろしいですか？", class: "btn btn-sm btn-danger ml-3" %>
    </div>
  </div>
</div>